[Desktop Entry]
Name=Plus4emu FLI Converter
Comment=High resolution interlaced FLI converter utility
Exec=p4fliconv
Icon=Cbm4
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;

